body{
    margin:0;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    background-color: black;
    font-family: cursive;
}

.calendar-container{
    background-color: rgb(255, 255, 255);
    width:290px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(213, 213, 213);
    border-radius: 10px;
    overflow:hidden;

}

.month-name{
    margin:0;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 29px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.day-name{
    padding: 5px;
    color: rgb(63, 66, 66);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.day-number{
    font-size: 40px;
    font-weight:bolder ;
}


.day-year{
    font-family:Georgia, 'Times New Roman', Times, serif;
}