body{
    background-color: black;
    margin: 0;
    height: 100vh;
}

span{
    background:url("https://cdn-icons-png.freepik.com/512/13635/13635655.png?uid%3DR224642999%26ga%3DGA1.1.1663850115.1764601410");
    width:100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    animation: animate 6s linear;
    
    

}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;

    }
}